body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.presentation {
    width: 100%;
    height: 100vh;
    background-color: rgb(146, 96, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: grey;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8b00bd;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
}

/* Iconos */
.contact-item .icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.contact-info {
    opacity: 0;
    font-size: 14px;
    transition: all 0.3s ease;
    padding-left: 10px;
    max-width: 0;
    overflow: hidden;
}

.contact-item:hover {
    width: auto;
    border-radius: 30px;
    padding: 10px 20px;
    justify-content: flex-start;
}

.contact-item:hover .contact-info {
    opacity: 1;
    max-width: 200px;
}

.contact-item.expanded {
    width: auto;
    border-radius: 30px;
    padding: 10px 20px;
    justify-content: flex-start;
}

.contact-item.expanded .contact-info {
    opacity: 1;
    max-width: 200px;
}

.info {
    width: 100%;
    padding: 50px 20px;
    background-color: rgb(232, 232, 232);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: rgb(146, 96, 165);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar .profile-pic {
    width: 40px;
    height: 40px;
    margin: 0;
}

.navbar .contact {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .contact {
        flex-direction: column;
    }

    .navbar {
        flex-direction: row;
    }
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #565656; 
}

::-webkit-scrollbar-thumb {
    background: #8b00bd;
}

::-webkit-scrollbar-thumb:hover {
    background: #954ded;
}
